[submodule "lct2025-backend"]
	path = lct2025-backend
	url = git@backend.lct2025.github.com:domster704/lct2025-backend.git
[submodule "lct2025-front"]
	path = lct2025-front
	url = git@frontend.lct2025.github.com:domster704/lct2025-front.git
[submodule "lct2025-llm"]
	path = lct2025-llm
	url = git@llm.lct2025.github.com:domster704/lct2025-llm.git
