[submodule "lct2025-backend"]
	path = lct2025-backend
	url = https://github.com/domster704/ldt2025-backend.git
[submodule "lct2025-front"]
	path = lct2025-front
	url = https://github.com/domster704/ldt2025-front.git
[submodule "lct2025-llm"]
	path = lct2025-llm
	url = https://github.com/domster704/ldt2025-llm.git
